

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}

body {
    font-family:algerian;
    margin-top: 65px;
}
body{
background:"http://tinypic.com/view.php?pic=2dsdzxt&s=9#.WADCluV96M8"
}
