

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}

body {
    font-family:algerian;
    margin-top: 65px;
}
body{
background:"https://en.wikipedia.org/wiki/File:Flag_of_India.svg"
}
